body {
    color:blueviolet;
    margin: 5px;
    padding: 5px;
    width: 500px;
}

input {
    width: 100%;
    
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid blueviolet;
}

button {
    padding: 5px;
    color: white;
    background-color: blueviolet;
    border: 1px solid blueviolet;
}